venv
env
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
*.so
.git
.idea
.vscode
/__pycache__
/.idea
/bin
/include
/lib
/share
*.whl
*.pyvenv.cfg
*.sqlite3
*.db
