{% extends "base.html" %}
{% load static %}
{% block title %}Squidward is watching you{% endblock %}

{% block content %}

<div class="table_report">
            <table class="table table-striped table-bordered table-sm">
                <caption> Внутренние адреса, с которых заходил {{ user_ip }} в период {{ date_start }} - {{ date_stop }}</caption>
                            <a class="backward" href="#" onclick="history.back();">Назад</a>

                <thead class="thead-inverse">

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Дата</th>
                        <th scope="col">IP в сети ПФР</th>
                    </tr>
                </thead>
                <tbody class="tbody_report">
                    {% for row in result %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.time|date:"j E Y H:i" }}</td>
                            <td>{{ row.white_ip }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

